<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.label "Add Image" %>
    <%= f.file_field :bimage, required: false, class: "form-control" %><br>
    <%= f.input :body %>
    <%= f.input :keywords %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
